In [2]:
import pickle
import pandas as pd

In [3]:
path="./../PPG_FieldStudy/S1.pkl"

In [4]:
with open(path, "rb") as f:
    data = pickle.load(f, encoding="latin-1")

In [5]:
data.keys()

dict_keys(['rpeaks', 'signal', 'label', 'activity', 'questionnaire', 'subject'])

In [7]:
pd.DataFrame(data["rpeaks"])

             0
0          240
1         1174
2         2128
3         3099
4         3907
5         4733
6         5404
7         6382
8         7231
9         7950
10        8696
11        9351
12       10047
13       10780
14       11476
15       12232
16       13086
17       13798
18       14469
19       15098
20       15703
21       16271
22       16846
23       17414
24       17980
25       18571
26       19200
27       19814
28       20415
29       21000
...        ...
11401  6431888
11402  6432588
11403  6433271
11404  6433950
11405  6434566
11406  6435193
11407  6435904
11408  6436629
11409  6437263
11410  6437888
11411  6438561
11412  6439223
11413  6439830
11414  6440396
11415  6440922
11416  6441437
11417  6441933
11418  6442433
11419  6442934
11420  6443436
11421  6443942
11422  6444435
11423  6444915
11424  6445399
11425  6445868
11426  6446343
11427  6446825
11428  6447292
11429  6447748
11430  6448224

[11431 rows x 1 columns]

In [8]:
pd.DataFrame(data["signal"])

,chest,wrist
ACC,"[[0.8564000129699707, -0.06779998540878296, -0...","[[-0.765625, -0.078125, 0.671875], [-0.765625,..."
BVP,NaN,"[[7.28], [6.33], [5.46], [4.6], [3.74], [2.86]..."
ECG,"[[0.015609741210937498], [0.01812744140625], [...",NaN
EDA,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....","[[4.722437], [4.728843], [4.718594], [4.717312..."
EMG,"[[-1.5], [-1.5], [-1.5], [-1.5], [-1.5], [-1.5...",NaN
Resp,"[[4.44183349609375], [4.45098876953125], [4.47...",NaN
TEMP,NaN,"[[32.13], [32.16], [32.16], [32.16], [32.16], ..."
Temp,"[[-273.15], [-273.15], [-273.15], [-273.15], [...",NaN

In [9]:
pd.DataFrame(data["activity"])

         0
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
...    ...
36818  0.0
36819  0.0
36820  0.0
36821  0.0
36822  0.0
36823  0.0
36824  0.0
36825  0.0
36826  0.0
36827  0.0
36828  0.0
36829  0.0
36830  0.0
36831  0.0
36832  0.0
36833  0.0
36834  0.0
36835  0.0
36836  0.0
36837  0.0
36838  0.0
36839  0.0
36840  0.0
36841  0.0
36842  0.0
36843  0.0
36844  0.0
36845  0.0
36846  0.0
36847  0.0

[36848 rows x 1 columns]

In [16]:
dataframes  = []
pbms = []
ok  = []
for k in data.keys():
    try:
        df = pd.DataFrame(data[k]) 
        dataframes.append(df)
        ok.append(k)
    except Exception as e:
        pbms.append(k + " : " + str(e))
print(f"clefs ok = {ok}")
print(f"clefs avec un probleme = {pbms}")

clefs ok = ['rpeaks', 'signal', 'label', 'activity']
clefs avec un probleme = ['questionnaire : If using all scalar values, you must pass an index', 'subject : DataFrame constructor not properly called!']

In [17]:
for df in dataframes:
    print(df.shape)

(11431, 1)
(8, 2)
(4603, 1)
(36848, 1)

In [18]:
for df in dataframes:
    print(df.sample(6))

            0
1305   796583
9285  5240295
7137  3977801
5799  3180954
3500  1836166
211    172545
                                                  chest  \
ECG   [[0.015609741210937498], [0.01812744140625], [...
TEMP                                                NaN
Temp  [[-273.15], [-273.15], [-273.15], [-273.15], [...
EMG   [[-1.5], [-1.5], [-1.5], [-1.5], [-1.5], [-1.5...
BVP                                                 NaN
ACC   [[0.8564000129699707, -0.06779998540878296, -0...

                                                  wrist
ECG                                                 NaN
TEMP  [[32.13], [32.16], [32.16], [32.16], [32.16], ...
Temp                                                NaN
EMG                                                 NaN
BVP   [[7.28], [6.33], [5.46], [4.6], [3.74], [2.86]...
ACC   [[-0.765625, -0.078125, 0.671875], [-0.765625,...
              0
2817  70.403251
4419  67.385576
1945  53.743781
3230  60.133216
3534  82.790192
2925  63.938093
         0
34738  8.0
36353  0.0
21910  6.0
13939  5.0
9740   0.0
14921  5.0

In [20]:
for df in dataframes:
    print(df.columns)

RangeIndex(start=0, stop=1, step=1)
Index(['chest', 'wrist'], dtype='object')
RangeIndex(start=0, stop=1, step=1)
RangeIndex(start=0, stop=1, step=1)

In [21]:
for df in dataframes:
    print(df.dtypes)

0    int32
dtype: object
chest    object
wrist    object
dtype: object
0    float64
dtype: object
0    float64
dtype: object

In [22]:
path="./../PPG_FieldStudy/S2.pkl"
with open(path, "rb") as f:
    data2 = pickle.load(f, encoding="latin-1")

In [23]:
data2.keys

In [24]:
data2.keys()

dict_keys(['rpeaks', 'signal', 'label', 'activity', 'questionnaire', 'subject'])

In [25]:
df2  = []
pbms = []
ok  = []
for k in data2.keys():
    try:
        df = pd.DataFrame(data2[k]) 
        df2.append(df)
        ok.append(k)
    except Exception as e:
        pbms.append(k + " : " + str(e))
print(f"clefs ok = {ok}")
print(f"clefs avec un probleme = {pbms}")

clefs ok = ['rpeaks', 'signal', 'label', 'activity']
clefs avec un probleme = ['questionnaire : If using all scalar values, you must pass an index', 'subject : DataFrame constructor not properly called!']

In [26]:
for df in df2:
    print(df.shape)

(11247, 1)
(8, 2)
(4099, 1)
(32820, 1)

In [27]:
path="./../PPG_FieldStudy/S3.pkl"
with open(path, "rb") as f:
    data3 = pickle.load(f, encoding="latin-1")
df3  = []
pbms = []
ok  = []
for k in data3.keys():
    try:
        df = pd.DataFrame(data3[k]) 
        df3.append(df)
        ok.append(k)
    except Exception as e:
        pbms.append(k + " : " + str(e))
print(f"clefs ok = {ok}")
print(f"clefs avec un probleme = {pbms}")

for df in df3:
    print(df.shape)

clefs ok = ['rpeaks', 'signal', 'label', 'activity']
clefs avec un probleme = ['questionnaire : If using all scalar values, you must pass an index', 'subject : DataFrame constructor not properly called!']
(12928, 1)
(8, 2)
(4367, 1)
(34964, 1)

In [29]:
path="./../PPG_FieldStudy/S4.pkl"
with open(path, "rb") as f:
    data4 = pickle.load(f, encoding="latin-1")
df4  = []
pbms = []
ok  = []
for k in data4.keys():
    try:
        df = pd.DataFrame(data4[k]) 
        df4.append(df)
        ok.append(k)
    except Exception as e:
        pbms.append(k + " : " + str(e))
print(f"clefs ok = {ok}")
print(f"clefs avec un probleme = {pbms}")

for df in df4:
    print(df.shape)

clefs ok = ['rpeaks', 'signal', 'label', 'activity']
clefs avec un probleme = ['questionnaire : If using all scalar values, you must pass an index', 'subject : DataFrame constructor not properly called!']
(13364, 1)
(8, 2)
(4572, 1)
(36600, 1)

In [30]:
path="./../PPG_FieldStudy/S5.pkl"
with open(path, "rb") as f:
    data5 = pickle.load(f, encoding="latin-1")
df5  = []
pbms = []
ok  = []
for k in data5.keys():
    try:
        df = pd.DataFrame(data5[k]) 
        df5.append(df)
        ok.append(k)
    except Exception as e:
        pbms.append(k + " : " + str(e))
print(f"clefs ok = {ok}")
print(f"clefs avec un probleme = {pbms}")

for df in df5:
    print(df.shape)

clefs ok = ['rpeaks', 'signal', 'label', 'activity']
clefs avec un probleme = ['questionnaire : If using all scalar values, you must pass an index', 'subject : DataFrame constructor not properly called!']
(19506, 1)
(8, 2)
(4649, 1)
(37220, 1)

In [32]:
path="./../PPG_FieldStudy/S7.pkl"
with open(path, "rb") as f:
    data7 = pickle.load(f, encoding="latin-1")
df7  = []
pbms = []
ok  = []
for k in data7.keys():
    try:
        df = pd.DataFrame(data7[k]) 
        df7.append(df)
        ok.append(k)
    except Exception as e:
        pbms.append(k + " : " + str(e))
print(f"clefs ok = {ok}")
print(f"clefs avec un probleme = {pbms}")

for df in df7:
    print(df.shape)

clefs ok = ['rpeaks', 'signal', 'label', 'activity']
clefs avec un probleme = ['questionnaire : If using all scalar values, you must pass an index', 'subject : DataFrame constructor not properly called!']
(13415, 1)
(8, 2)
(4668, 1)
(37372, 1)